.relative-units ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-bottom: 1px solid black;
}

.relative-units ul li {
    padding: 3px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.relative-units ul li:hover {
    background-color: grey;
}

.relative-units ul li.active-unit::after {
    content: '\02193';
}

.relative-units fieldset {
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    overflow: scroll;
    height: 300px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
}

.relative-text {
    text-align: center;
    line-height: 1;
}

.relative-units .form-group {
    width: 50%;
    margin: 10px auto;
}