.font-specific {
    position: relative;
}

#font-specific-background {
    position: absolute;
    width: 100%;
    color: rgba(0, 0, 0, 0.15);
    z-index: -1;
    font-weight: bold;
}

.font-specific ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    border-bottom: 1px solid black;
    background-color: white;
}

.font-specific ul li {
    padding: 3px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.font-specific ul li:hover {
    background-color: grey;
}

.font-specific ul li.active-unit::after {
    content: '\02193';
}

.font-specific fieldset {
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 40px 5px;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
}

.relative-text {
    text-align: center;
    line-height: 1;
}

.font-specific .form-group {
    width: 50%;
    margin: 10px auto;
}

#poem-text {
    font-weight: bold;
    white-space: 'pre-line';
}