.login-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 300px;
}

.login-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

.login-grid div:active {
    outline: purple;
}

#see-admin-login {
    font-size: 130px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}