.hex-creator {
    margin-top: 300px;
}

.hexidecimal-page .hex-creator {
    display: flex;
    width: 100%;
    justify-content: center;
}

.hexidecimal-window {
    width: 240px;
    height: 40px;
    border: 4px solid blue;
    position: absolute;
}

.hexidecimal-color {
    width: 200px;
    height: 200px;
    position: relative;
    top: -100px;
    margin: 20px;
}