.hexidecimal-page form {
    margin: 20px auto 20px;
    border: 1px solid grey;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
}

.hexidecimal-page .hex-creator-container {
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 50px;
    transition: background-color 0.5s;
}