.hexidecimal-page {
    display: flex;
}

.hexidecimal {
    display: flex;
    position: relative;
}

.hexidecimal-window {
    width: 240px;
    height: 40px;
    border: 2px solid blue;
    position: absolute;
}

.hexidecimal-color {
    width: 300px;
    height: 300px;
}