table.rp {
    /* display: block; */
    /* width: 60%; */
    border: 1px solid black;
}

table.rp tr {
    /* width: 100%; */
}

table.rp td {
    text-align: right;
    padding: 3px;
    overflow: hidden;
}

table.rp th {
    border: 1px solid grey;
    border-bottom: 4px solid grey;
}

table.rp td {
    border: 1px solid grey;
}

table.rp td.on {
    /* text-align: center; */
    font-size: 30px;
}

table.rp td.call {
    /* text-align: left; */
}

table.rp td.final {
    text-align: center;
}