.hexadecimal-page {
    min-height: 100vh;
    transition: background-color 0.25s;
    padding-top: 20px;
    ;
}

.hexadecimal-page form {
    margin: 0 auto 20px;
    border: 3px solid grey;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
}

.hexadecimal-page .hex-creator-container {
    display: flex;
    width: 100%;
    justify-content: center;
    /* border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 50px; */
}