nav#games-nav {
    height: 30px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav#games-nav span {
    cursor: pointer;
    display: inline-block;
    margin: 0 1rem;
}