.css-page {
    display: flex;
    flex-direction: column;
}

.css-page-heading {
    border-bottom: 2px solid black;
    margin-bottom: 0;
    padding: 10px;
}

.css-page-menu {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
}

.css-page-menu div {
    width: 33.33%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s
}

.css-page-menu div:hover {
    background-color: grey;
    color: white;
}

.css-page-content {
    width: 100%;
}

@media (min-width: 1000px) {
    .css-page {
        flex-direction: row;
    }
    .css-page-menu {
        height: 100vh;
        flex-direction: column;
        justify-content: normal;
        border-right: 2px solid black;
    }
    .css-page-menu div {
        width: auto;
        border-bottom: 1px solid black;
        padding: 10px 10px 10px 100px;
        text-align: right;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.5s
    }
    .css-page-menu {
        height: 100vh;
        border-right: 2px solid black;
    }
}