.flex-container {
    display: flex;
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 400px;
    position: relative;
    padding: 20px;
    margin: 0 20px;
}

.flex-container::before {
    font-weight: bold;
    position: absolute;
    top: 0;
    left: calc(50% - 30px);
    color: orange;
}

.flex-container::after {
    position: absolute;
    font-weight: bold;
    transform: rotate(-90deg);
    left: -30px;
    top: calc(50% - 30px);
    color: orange;
}

.flex-container.flex-row::before {
    content: "main axis";
}

.flex-container.flex-column::before {
    content: "cross axis";
}

.flex-container.flex-row::after {
    content: "cross axis";
}

.flex-container.flex-column::after {
    content: "main axis";
}

.flex-container div {
    border: 1px solid grey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 4px;
    position: relative;
}

.flex-container>div>div {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.flex-container>div>span {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 10px;
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    border: 3px solid grey;
}

.flex-container div.selected {
    background-color: lightblue;
}

.flex-control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-control-panel div:first-child {
    flex: 25% 1 1;
    margin: 10px;
}

.flex-control-panel div:last-child {
    flex: 75% 1 1;
    margin: 10px;
}

.table.table-striped.table-bordered {
    max-width: 100%;
}

@media (min-width: 768px) {
    .flex-control-panel {
        flex-direction: row;
    }
}