#main-text {
    text-align: left;
    padding: 100px 20px;
}

#main-text p,
#main-text li {
    font-weight: bold;
    line-height: 2em;
    font-size: 1.5em;
    color: #999;
}

#main-text p a {
    color: #333;
    text-decoration: underline;
    transition: color 0.25s;
}

#main-text p a:hover {
    color: #ccc;
}

#main-text ul {
    list-style-type: none;
    text-indent: 50px;
}

.on {
    font-weight: bold;
    color: green;
}

.off {
    font-weight: bold;
    color: red;
}

#home-canvas {
    width: 100vw;
    height: calc(100vh - 67px);
    position: absolute;
    z-index: -1;
    top: 46px;
    left: 0;
}

#home-canvas canvas {
    /* border: 5px solid black; */
}

@media all and (min-width: 768px) {
    #main-text {
        width: 90%;
        margin: 30px auto;
        padding: 20px;
    }
    #home-canvas {
        position: fixed;
    }
    #main-text ul {
        list-style-type: none;
        text-indent: 100px;
    }
}