#main-text {
    width: 90%;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid grey;
}

#main-text ul {
    list-style-type: none;
}

.on {
    font-weight: bold;
    color: green;
}

.off {
    font-weight: bold;
    color: red;
}

#home-canvas {
    width: 100vw;
    height: calc(100vh - 67px);
    position: fixed;
    z-index: -1;
    top: 67px;
    left: 0;
}

#home-canvas canvas {
    /* border: 5px solid black; */
}

@media all and (min-width: 768px) {
    #main-text {
        width: 50%;
    }
}