.absolute-units ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.absolute-units ul li {
    padding: 3px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.absolute-units ul li:hover {
    background-color: grey;
}

.absolute-units ul li.active-unit {
    background-color: black;
    color: white;
    font-weight: bold;
}

.absolute-units ul li.active-unit::after {
    content: '\02193';
}

.unit-explanation {
    text-align: center;
}

.unit-guide {
    display: flex;
    justify-content: space-evenly;
}

.measurement-example {
    display: flex;
    align-items: center;
}

.measurement-example label {
    margin: 0 10px 0 0;
}

.measurement-example div {
    height: 5px;
    border-bottom: 5px solid black;
}

.unit-guide div.in {
    width: 1in;
}

.unit-guide div.cm {
    width: 1cm;
}

.unit-guide div.mm {
    width: 1mm;
}

.unit-guide div.Q {
    width: 1q;
}

.unit-guide div.pt {
    width: 1pt;
}

.unit-guide div.pc {
    width: 1pc;
}

.unit-guide div.px {
    width: 1px;
}

.absolute-units .form-group {
    width: 50%;
    margin: 10px auto;
}

.sample-text {
    text-align: center;
    line-height: 1;
}