/* .character-module {
    margin: 10px;
    border: 3px solid lightgrey;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 150px;
    cursor: pointer;
    min-height: 150px;
}

.character-module-background {
    opacity: 0.75;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
} */


/* .character-module-header {
    padding: 5px;
    font-weight: bolder;
    color: white;
    border-bottom: 2px solid grey;
}

.character-module-color {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 15px auto;
    color: white;
}

.character-module ul {
    list-style-type: none;
}

.character-module button {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    border: none;
} */

.character-module-update,
.character-module-delete {
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: grey;
    margin: 3px;
    padding: 3px;
    border-radius: 3px;
}

.delete .character-module {
    animation-name: burn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.update .character-module {
    border-color: orange;
}

@keyframes burn {
    0% {
        border-color: lightgrey;
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: lightgrey;
    }
}

@media (min-width: 1000px) {}