.crud-shell {
    margin: 10px auto;
    overflow: hidden;
}

.instructions {
    text-align: center;
    font-weight: bold;
    width: 100%;
    min-height: 25px;
    background-color: rgba(0, 0, 0, 0.25);
}

.character-table {
    display: block;
    margin: 10px auto;
}

.character-table thead,
.character-table tbody,
.character-table * tr {
    display: block;
    width: 100%;
}

.character-table * tr {
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
}

.character-table th,
.character-table td {
    width: 25%;
    display: inline-block;
    font-size: 10px;
}

.character-table td {
    color: white;
    font-weight: bold;
    padding: 0 5px
}

.query-response-div {
    display: flex;
    max-height: 150px;
    overflow: scroll;
}

.query-response-div h3 {
    font-size: 0.5rem;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

.query-response-div code {
    width: 50%;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #000;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 0.75rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

@media (min-width: 768px) {
    .crud-shell {
        width: 80%;
    }
    .query-response-div {
        display: flex;
        max-height: none;
    }
}