.instructions {
    text-align: center;
    font-weight: bold;
    width: 100%;
    min-height: 25px;
    background-color: rgba(0, 0, 0, 0.25);
}

.character-table {
    display: block;
}

.character-table thead,
.character-table tbody,
.character-table * tr {
    display: block;
    width: 100%;
}

.character-table * tr {
    cursor: pointer;
}

.character-table th,
.character-table td {
    width: 33.33%;
    display: inline-block
}

.query-response-div {
    display: flex;
}

.query-response-div code {
    font-size: 0.5rem;
    border: 1px solid grey;
}