    #about-text {
        width: 90%;
        margin: 50px auto;
        position: relative;
    }
    
    #about-text p {
        line-height: 1em;
        font-size: 0.75em;
        color: #999;
    }
    
    #about-text li {
        line-height: 1em;
        font-size: 0.75rem;
        color: #999;
    }
    /* 0xfff0f5, 0xe6e6fa, 0xff7575, 0xffb775, 0xfff175, 0xc3ff76, 0x7bffb8, 0x7de8ff, 0x799fff, 0xff93f7 */
    
    .animation-container {
        position: absolute;
        top: 0;
        left: 0;
        outline: 5px solid grey;
        width: 140%;
        height: 140%;
        margin: -20% 0 0 -20%;
        z-index: -1;
        opacity: 0.1;
        transform: skew(15deg, 15deg);
        animation-name: skew;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }
    
    .animation-container-1 {
        background-color: #ff93f7;
    }
    
    .animation-container-2 {
        background-color: #e6e6fa;
        animation-delay: 0.25s;
        top: 20px;
        left: 20px;
    }
    
    .animation-container-3 {
        background-color: #7bffb8;
        animation-delay: 0.5s;
        top: 10px;
        left: 10px;
    }
    
    .animation-container-4 {
        background-color: #fff0f5;
        animation-delay: 0.75s;
        top: -10px;
        left: -10px;
    }
    
    #about-text ul {
        margin-left: 10px;
    }
    
    @keyframes skew {
        0% {
            transform: skew(15deg, 15deg);
        }
        50% {
            transform: skew(-15deg, -15deg);
        }
    }
    
    @media all and (min-width: 768px) {
        #about-text {
            width: 60%;
        }
        #about-text ul {
            margin-left: 50px;
        }
    }