.grid-parent {
    display: grid;
    border: 1px solid #DFE2EA;
}

.grid-parent div {
    border: 1px solid #DFE2EA;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}